* {
  font-family: 'Lato', sans-serif;
  color: black;
}
header{
  width: 100%;
  height: 250px;

  background-size: cover;
}
.first {
  
}
nav {
  border-style: solid;
  border-width: 3px 0px;
  top: 200px;
  width: 100%;
  border-color: darkblue;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    position: relative;
    display: inline-block;
 
  
}
.navbar_div {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}
ul.topnav li {float: left;}
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: darkblue;
    
}
ul.topnav li a:hover 
{background-color: #aaa;}
ul.topnav li.icon 
{display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
  	display: block;
  	padding: 1px;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
  }
  ul.topnav.responsive li a {
    float: none;
    display: block;
    padding: 1px;
  }
}
.icon {
  padding: 0px;
}
h1 {
  text-align: center;
}
#myCarousel {
  width: 60%;
  height: 40%;
  float: left;
  margin-left: 20%;
  margin-top: 5%;
} 
h2, h4 {
  text-align: center;
}
.main_img {
	width: 100%;
	height: 200px;
	background-image: url('http://localhost:3000/images/CN_logo.png');
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
  margin-top: 10px;
  margin-bottom: -2%;
}
.item {
	width: 100%;
	height: 350px;
}
.background_img {
	width: 35%;
	height: 200px;

	background-image: url('http://localhost:3000/images/Indiana_Outline.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 425px;
}
#subscribe_button {
    position:absolute;
    transition: .5s ease;
    top: 391px;
    right: 5%;
    background-color: darkblue;
    color: white;
    border: none;
    font-size: 1.4em;
    padding: 5px 25px;
    box-shadow: 4px 3px 2px lightgrey;
}
.polling_place {

  max-height: 30%;
  max-width: 30%;
}
#polling_place {
  max-height: 22%;
  max-width: 22%;
  position: absolute;
  top: 850px;
  right: 5%;
}