* {
  font-family: "acumin-pro-extra-condensed",sans-serif;
  color: black;
}

nav {
  border: none;
  top: 200px;
  width: 100%;
  position: fixed;
  top: 15px;
  right: 10px;
  background-color: transparent;
  z-index: 1000;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    position: fixed;
    display: inline-block;
    color: black;


}
#blogpic {
  height: 100px;
  width: 300px;
}
ul.navbar-right {
  position: fixed;
  top: 15px;
  right: 15px;
}
.navbar_div {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}
ul.topnav li {
  float: left;
  color:black;
}
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: transparent;

}
ul.topnav li a:hover
{background-color: #aaa;}
ul.topnav li.icon
{display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
  	display: block;
  	padding: 2px;
    margin-left: 3px;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
    margin-left: 3px;
  }
  ul.topnav.responsive li a {
    float: none;
    display: block;
    padding: 2px;
    margin-left: 3px;
  }
  ul.topnav li {
    padding-left: 2px;
    margin-left: 2px;
  }
}
.icon {
  padding: 0px;
}
h1 {
  text-align: center;
  font-family: "acumin-pro-extra-condensed",sans-serif;
}

h2, h4, h5, h6 {
  text-align: center;
  font-family: "acumin-pro-extra-condensed",sans-serif;
}

#face {
  max-width: 20px;
  max-height: 20px;
}

#twit {
  max-width: 20px;
  max-height: 20px;
}
.indexpara {
  font-family: "acumin-pro-extra-condensed",sans-serif;
}
.NAME {
  text-align: left;
}
@media screen and (max-width:680px) {
  .indexpara {
  margin: 10px 5%;
  }
  .item {
  width: 100%;
  height: 100%;
  }

  .background_img{
  background-image: none;
  }
  .displaynone{
    display: none;
  }
  #blogpic {
    height: 50px;
    width: 150px;
  }
}
.navbar-default {
  background-color: transparent;
  border: none;
  color: black;
}
.splashdiv {

}
.splash {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top:50px;

}
.trianglepic1 {
  width: 100%;
  max-height: 100%;
  margin-top: -4%;
}
.trianglepic {
  width: 100%;
  max-height: 100%;
}
.down {
  position: absolute;
  top: 85%;
  left: 50%;
}

.background {
  background-image: url('http://localhost:3000/images/Libertarian_Party.png');
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  height: 200px;
  width: 67px;
  position: absolute;
  left: 45%;


}
.footer {
  background-color: black;
  padding: 5px 20px;
  margin: 10px -12px 0px -12px;
}
.footer a {
  text-decoration: none;
  color: white;
  padding: 5px 3px;

}
.navbar-nav li a {
  color: black;
}
.navbar-default .navbar-nav li a {
    color: black;
}
