extends layout

block content
	div.container-fluid
		div.row
			img(src='http://localhost:3000/images/Triangle.png').col-md-12
		div.row
			h1.col-md-3 Title of Blog
			img(src='http://localhost:3000/images/winter.jpg').col-md-2.col-md-offset-9
		div.row
			h6.col-md-2.col-md-offset-9 Another Blog Title
		div.row
			input(type='text' placeholder='Subscribe for updates').col-sm-2.col-sm-offset-9
			h2.col-sm-3.col-sm-offset-3 Title of Blog Post
		div.row
			h6.col-sm-3.col-sm-offset-3 30 July 2016
		div.row
			img(src='http://localhost:3000/images/dad_black-white.png').col-md-5.col-md-offset-2
			img(src='http://localhost:3000/images/Triangle.png').col-md-5.col-md-offset-2
		div.logo.col-md-2.col-md-offset-10
			img(src='http://localhost:3000/images/Favicon.svg')#bloglogo
		div.row
			p.col-md-5.col-md-offset-2 Bacon ipsum dolor amet venison hamburger pork chop pig kevin. Ball tip pork ground round boudin. Landjaeger doner ribeye hamburger pork loin jowl. Landjaeger tenderloin tail salami cow beef jowl ribeye turducken meatloaf flank brisket tri-tip. Fatback shank pork cow pastrami sausage turkey strip steak beef ribs filet mignon ham. Ball tip strip steak turkey, jerky leberkas alcatra pancetta bresaola jowl frankfurter shoulder. 
			p.col-md-5.col-md-offset-2 Tri-tip capicola doner swine, venison leberkas pork loin andouille sirloin jerky hamburger ground round cow spare ribs.Brisket picanha capicola jerky, ham hock pork flank kevin pork chop boudin pancetta porchetta sirloin shank. Pork chop venison chicken landjaeger beef frankfurter bacon, ham hock tenderloin filet mignon turducken porchetta. Alcatra capicola biltong, shankle boudin kevin spare ribs jowl pancetta chuck ribeye pig cupim. 
			p.col-md-5.col-md-offset-2 Ribeye turkey brisket hamburger, tri-tip ball tip pork chop beef ribs tenderloin picanha shankle salami pancetta meatball. Fatback brisket landjaeger alcatra rump sirloin, jowl beef ribs prosciutto bacon. Ball tip boudin capicola pork loin, fatback prosciutto t-bone frankfurter ribeye brisket spare ribs venison ground round cupim turducken. Rump ground round strip steak meatloaf short loin, chuck spare ribs kielbasa.

Pork picanha chicken, pork loin ball tip cow ham hock alcatra prosciutto meatloaf meatball pork chop venison. Beef tongue filet mignon salami boudin, pork loin turducken. Ground round brisket corned beef spare ribs, doner andouille pastrami jowl ham ribeye kielbasa tri-tip short loin. Beef pastrami chicken, flank fatback picanha meatloaf. Pork loin boudin flank pancetta shoulder, t-bone strip steak.
		
		
