extends layout

block content
	div.container-fluid
		div.row
			div.col-md-3.col-md-offset-1.col-sm-12
			div.col-md-2.col-md-offset-9
				img(src='http://localhost:3000/images/Favicon.svg').displaynone.contactlogo
		div.row
			form(action='contact/send' method='POST')
				h1 Contact
					.form-group
						input.form-control(type='text' name='firstname' placeholder='First Name')
					.form-group
						input.form-control(type='text' name='lastname' placeholder='Last Name')
					.form-group
						input.form-control(type='email' name='email' placeholder='Email')
					.form-group
						textarea.form-control(name='message' placeholder='Enter comments')
					button.btn.btn-default(type='submit') Submit
						
