extends layout

block content
	div.container-fluid
		div.row
			div.col-md-3.col-md-offset-1.col-sm-12
			div.col-md-2.col-md-offset-9
				img(src='http://localhost:3000/images/Favicon.svg').displaynone.contactlogo
		div.row
			form(action="MAILTO:blaken2021@gmail.com" method="post" enctype="text/plain")
				input(type='text' placeholder='First Name')
				input(type='text' placeholder='Last Name')
				input(type='text' placeholder='Email')
				input(type='submit' value='Submit')
