extends layout

block content
  div.background_img
    //- img(src='http://localhost:3000/images/background.png')#background_img
  div#myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.target(data-target='#myCarousel', data-slide-to='0').active
      li.target(data-target='#myCarousel', data-slide-to='1')
      li.target(data-target='#myCarousel', data-slide-to='2')
      li.target(data-target='#myCarousel', data-slide-to='3')
    div.carousel-inner(role='listbox')
      div.item.active
        img(src='http://curtnicholson.com/images/beach.jpg')
      div.item
        img(src='http://curtnicholson.com/images/forest.jpg')
      div.item
        img(src='http://curtnicholson.com/images/tree.jpg')
      div.item
        img(src='http://curtnicholson.com/images/winter.jpg')
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
  div.subscribe_button
    button#subscribe_button Subscribe
