extends layout

block content
	div.container-fluid
		div.row
			img(src='http://localhost:3000/images/Triangle.png').col-md-12.displaynone
		div.row
			h1.col-md-4.col-md-offset-3.NAME Why I am a Libertarian

			p.col-md-5.col-md-offset-3 Bacon ipsum dolor amet venison hamburger pork chop pig kevin. Ball tip pork ground round boudin. Landjaeger doner ribeye hamburger pork loin jowl. Landjaeger tenderloin tail salami cow beef jowl ribeye turducken meatloaf flank brisket tri-tip. Fatback shank pork cow pastrami sausage turkey strip steak beef ribs filet mignon ham. Ball tip strip steak turkey, jerky leberkas alcatra pancetta bresaola jowl frankfurter shoulder. 
			p.col-md-5.col-md-offset-3 Tri-tip capicola doner swine, venison leberkas pork loin andouille sirloin jerky hamburger ground round cow spare ribs.Brisket picanha capicola jerky, ham hock pork flank kevin pork chop boudin pancetta porchetta sirloin shank. Pork chop venison chicken landjaeger beef frankfurter bacon, ham hock tenderloin filet mignon turducken porchetta. Alcatra capicola biltong, shankle boudin kevin spare ribs jowl pancetta chuck ribeye pig cupim. 
			p.col-md-5.col-md-offset-3 Ribeye turkey brisket hamburger, tri-tip ball tip pork chop beef ribs tenderloin picanha shankle salami pancetta meatball. Fatback brisket landjaeger alcatra rump sirloin, jowl beef ribs prosciutto bacon. Ball tip boudin capicola pork loin, fatback prosciutto t-bone frankfurter ribeye brisket spare ribs venison ground round cupim turducken. Rump ground round strip steak meatloaf short loin, chuck spare ribs kielbasa.
			p.col-md-5.col-md-offset-3 
			p.col-md-5.col-md-offset-3 Share
			p.col-md-5.col-md-offset-3
				a(href='https://www.facebook.com/curtnicholsonforcouncil' target='_blank')
					img(src='http://localhost:3000/images/facebook-square.png')#face
				a(href='https://twitter.com/Nicholsoncurt' target='_blank')
					img(src='http://localhost:3000/images/Twitter-square.png')#twit
			div.logo.col-md-2.col-md-offset-10
				img(src='http://localhost:3000/images/Favicon.svg')#bloglogo.displaynone
		div.row.footer
			div.row
				div.col-md-2.col-sm-12.col-xs-12
					p
						a(href='/support') Support
					p
						a(href='/contact') Contact
					p
						a(href='/blog') Blog
				div.col-md-2.col-sm-12.col-xs-12
					p
						a(href='#jumpto') Bio
					p
						a(href='/support') Libertarian party
					p
						a(href='/support') Friends of Curt
				div.col-md-2.col-sm-12.col-xs-12
					p
						a(href='/support') Find your polling place
					p
						a(href='/support') Vote!
				div.col-md-2.col-sm-12.col-xs-12
					p
					br
					a(href='curtnicholson.com') curtnicholson.com
					p.text-muted &copy; 2016
