extends layout

block content
	div.container-fluid
		div.row.maintext
			img(src='http://curtnicholson.com/images/Triangle.png').col-md-12.displaynone
		div.row
			h1.col-md-4.col-md-offset-2.NAME Why I am a Libertarian

			p.col-md-7.col-md-offset-2.issuepara When I was 18, I cast my first vote for President Ronald Reagan--that was the last vote I ever cast FOR another Presidential candidate.  Every vote since 1984 has been a vote against the candidate I "perceived" as worse.  I only fleetingly considered a third party.  The "binary" choice was ingrained into my psyche.
			p.col-md-7.col-md-offset-2.issuepara As a high school student, I was always interested in politics, religion, and history. As I read my textbooks (Yes, I was a nerd who read ahead AND read the assigned reading as it as given), other books, the Bible, and periodicals; I discovered that I did not trust large groups of people with power. I believed in liberty, freedom, individualism--in short, I was a classical liberal with a few variations. ("Classical liberalism" is the term used to designate the ideology advocating private property, an unhampered market economy, the rule of law, constitutional guarantees of freedom of religion and of the press, and international peace based on free trade--Ralph Raico on #[a(href="https://mises.org/" target='_blank') Mises.org].
			p.col-md-7.col-md-offset-2.issuepara I tried to make myself  believe the GOP was at heart a libertarian party, but was disappointed time after time.  No matter the Republicans I picked, government spending increased, taxes went up, deficits rose, war became a normal state, huge corporations received welfare, banks were bailed out by taxpayers, government began to spy on its own law-abiding citizens, race relations deteriorated, and government officials and employees were deemed above the law.  After John Roberts (a "conservative" picked by Bush II) rewrote the Affordable Care Act (Obamacare) so it could be deemed Constitutional, and the GOP rewrote its convention rules to exclude Ron Paul from speaking; I decided I had had enough. I WILL NOT support either "major" party any longer.  I have not voted in the Republican primaries since 2012. (In fact,  after it was clear that Trump was going to obtain the requisite number of delegates to be his party's nominee, I voted for Bernie Sanders in hopes that he could defeat Hillary.  Of course, we now know that he got "RonPauled" by the Democratic Party Insiders--but I digress. Suffice it to say that I support neither "major" party.)
			p.col-md-7.col-md-offset-2.issuepara I looked at working within the existing GOP, but have determined that it is too corrupt to save. The Constitution Party was another option I looked at, but there are two large problems with it (in my view):  1.  It has 0 chance of winning or really influencing policy. 2.  I believe the Constitution Party has as part of its agenda to make America Christian again. Although I am a believer in Jesus Christ as my personal Savior, I DO NOT believe the government should be in the business of regulating consensual sex between adults, nor encouraging one religion above another.  The first amendment and the Constitution are clear and correct on the issue of freedom of religion. Any religion that needs State support to thrive is not worthy of followers.
			p.col-md-7.col-md-offset-2.issuepara Finally, to answer some common objections to Libertarianism
			p.col-md-7.col-md-offset-2.issuepara First from the Right:
			p.col-md-7.col-md-offset-2.issuepara 1. Abortion--I am personally pro-life on this issue.  I do, however, believe that the issue will not be settled legislatively in the foreseeable future.  The Republicans have done little (if anything) to slow or stop abortions.  Public opinion will be changed only as moral, scientific, and practical ideas are debated in a civil manner.  Please understand that I am not advocating abortion, only acknowledging the reality as it stands today.
			p.col-md-7.col-md-offset-2.issuepara 2. Marriage equality--the position I hold is that the State has no authority regulating marriage. Tax credits and exemptions would be no issue in either a flat-tax or Fairtax system.
			p.col-md-7.col-md-offset-2.issuepara 3. Drugs--Americans use and abuse both legal and illegal drugs at an alarming rate. People should not be incarcerated for abusing drugs. Marijuana has been shown to have legitimate medicinal purposes, and is less dangerous (if at all) than alcohol which is already legal.  Our attempts at Prohibition and forced sobriety are costly and unnecessarily overburdening our legal system. The State should only interfere in cases where one person violates another person's rights--life, liberty, and property.
			p.col-md-7.col-md-offset-2.issuepara From the Left:
			p.col-md-7.col-md-offset-2.issuepara 1. Social safety net--I am personally open to some type of guaranteed income as a way of ELIMINATING the current social welfare system.  We need to honor promises made to our citizens, while working to create more opportunity for all Americans. Welfare should not be a way of life for healthy adults.
			p.col-md-7.col-md-offset-2.issuepara 2. Corporate Welfare--I am as opposed to corporate welfare as Bernie Sanders and Jill Stein are. Libertarians are opposed to picking winners and losers.
			p.col-md-7.col-md-offset-2.issuepara 3. Second Amendment--I may lose support from both sides on this one.  I support the Second Amendment as written, but I do not believe it precludes fairly implemented background checks.  A convicted violent felon or mentally ill individual, should not be legally obtaining weapons.
			p.col-md-7.col-md-offset-2.issuepara I trust this gives you some insight into my political philosophy and leads to further discussion and eventual support for my current campaign
			p.col-md-7.col-md-offset-2.issuepara Curt Nicholson For Clark County Council
			p.col-md-7.col-md-offset-2.issuepara Responsive. Restrained. Reliable.
			p.col-md-7.col-md-offset-2.issuepara Share
			p.col-md-7.col-md-offset-2
				a(href='https://www.facebook.com/curtnicholsonforcouncil' target='_blank')
					img(src='http://curtnicholson.com/images/facebook-square.png')#face
				a(href='https://twitter.com/Nicholsoncurt' target='_blank')
					img(src='http://curtnicholson.com/images/Twitter-square.png')#twit
			div.col-md-2.col-md-offset-10
				img(src='http://curtnicholson.com/images/Logo.png')#bloglogo.displaynone.logo
		div.row.footer.clearfix
			div.row.clearfix
				div.col-md-2.col-sm-12.col-xs-12.clearfix
					p
						a(href='/contact') Contact
					p
						a(href='#jumpto') Bio
				div.col-md-2.col-sm-12.col-xs-12.clearfix
					p
						a(href='https://indianavoters.in.gov/PublicSite/Public/FT1/PublicLookupMain.aspx?Link=Registration' target='blank') Find Your Polling Place
					p
						a(href='https://www.lp.org/') Libertarian Party
				div.col-md-4.col-sm-12.col-xs-12.linkss.clearfix
					p
					br
					a(href='http://curtnicholson.com') curtnicholson.com
					p.text-muted &copy; 2016
				div.col-md-2.col-sm-12.col-md-offset-10.clearfix
					a(href='https://www.facebook.com/curtnicholsonforcouncil' target='_blank')
						img(src='http://curtnicholson.com/images/facebook-square.png')#facefoot.displaynone
					a(href='https://twitter.com/Nicholsoncurt' target='_blank')
						img(src='http://curtnicholson.com/images/Twitter-square.png')#twitfoot.displaynone
