doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato")
    script(src="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/main.js')
  header
    div.main_img
    div.second_img
  div.navbar_div 
    nav(role='navigation')
      ul.topnav
        li.first
          a(href='/issues') Issues  
        li
          a(href='/why') Why Liberterian 
        li
          a(href='/contact') Contact
        li 
          a(href='/support') Support
        li.icon
          a(href='javascript: void(0);', onclick='myFunction()') &#9776                                                                 
  body
    block content
