doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato")
    script(src='http://localhost:3000/javascripts/main.js')
  header
    h1 CURT NICHOLSON 
    h4 For
    h2 Clark County Council
    nav
      ul.topnav
        li.first
          a(href='About_Me') About Me  
        li
          a(href='Why') Why Liberterian 
        li
          a(href='Issues') Issues
        li 
          a(href='Contact') Contact
        li
          a(href='Support') Support
        li.icon
          a(href='javascript: void(0);', onclick='myFunction()') &#9776                                                                 
  body
    block content
