doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='http://localhost:3000/javascripts/main.js')
  header
    div.main_img
 
    nav
      ul.topnav
        li.first
          a(href='Issues') Issues  
        li
          a(href='Why') Why Liberterian 
        li
          a(href='Contact') Contact
        li 
          a(href='Support') Support
        li
          a(href='Blog') Blog
        li.icon
          a(href='javascript: void(0);', onclick='myFunction()') &#9776                                                                 
  body
    block content
